/.git
/.idea
/.vscode
/.composer
/.npm
/.config
/node_modules
/vendor
.env*
.phpunit.result.cache
.bash_*
.ash_*
.sh_*
docker-compose.yml
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
